body {
    margin: 0;
    padding: 0;
    font-family: Poppins;

}

.navbar-container {
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    padding-top: 20px;
    height: 30px;
    top: 0;
    position: sticky;
    z-index: 999;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0.5px 0.5px 2px rgb(197, 197, 197);
}

.navbar-left {
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.navbar-left img {
    width: 110px;
    height: 30px;
    padding-top: 0px;
    align-items: center;
    padding-bottom: 10px;
}

.navbar-right {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 0px;
    margin: 0;

}

.navbar-right ul {
    list-style: none;
    display: flex;
    font-size: 20px;
    width: 600px;
    height: 53px;

}


.navbar-right ul li a {
    color: #364152;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
    padding-left: 40px;
    font-weight: 50px;
    height: 10px;
}

.navbar-right ul li a:hover {
    color: #ce9f07;
}

.button {
    width: 160px;
    height: 53px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #FAC515;
    border: 0px solid #FAC515;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    color: #364152;
    text-decoration: none;

}

.button:hover {
    background-color: #3a3a3a;
    color: #FAC515;
}

.trip-container {
    background-image: url(Img/icon-trip.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 50px;
}


.trip-container-left h1 {
    padding-top: 80px;
    margin: 0;
    color: #364152;
    font-size: 80px;
    font-weight: 500;
    word-wrap: break-word;
}

.trip-container-left h2 {
    padding: 0;
    margin: 0;
    color: #364152;
    font-size: 80px;
    font-weight: 500;
    word-wrap: break-word;
    line-height: 70px;
}

.font-color {
    color: #FAC515;
}

.trip-container-left p {
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
    color: #364152;
    padding-top: 15px;
}

.trip-container-right img {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 70px;
}

.app-advantage-container {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}

/* .advantage-left {
    padding: 0;
    margin: 0;
    gap: 1000px;
} */

.advantage-left h1 {
    font-size: 60px;
    color: #364152;
    font-weight: 500;
    line-height: 70px;
    word-wrap: break-word;
}



.advantage-1 {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.advantage-1 h3 {
    color: #364152;
    font-size: 25px;
    font-weight: 300;
    word-wrap: break-word;
    padding-top: 6px;
    margin: 0;
}

.advantage-button {
    padding-top: 20px;
}

.advantage-left button {
    background-color: #FAC515;
    height: auto;
    width: auto;
    border-radius: 30px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
    color: #364152;
    border: 0px solid #FAC515;
    cursor: pointer;
}



.advantage-left button a {
    text-decoration: none;
    color: #364152;
}



.advantage-left button:hover {
    background-color: #d1d5da;

}

.advantage-right {
    background-color: #fcfbfb;
    padding: 20px;
    border-radius: 30px;
}

.platfrom-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 93px;
}

.platfrom-1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;

}

.plat-1 {
    padding-top: 0px;
}

.plat-1 h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    word-wrap: break-word;
    color: #364152;
    padding-bottom: 10px;
    margin: 0;
}

.plat-1 h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 70px;
    word-wrap: break-word;

    color: #FAC515;
    padding: 0;
    margin: 0;

}

.plat-2 {
    display: flex;
    background-color: #FCFCFD;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 0px;
    gap: 30px;
}

.plat-2 img {
    padding-top: 25px;
}

.plat-2 h4 {
    font-size: 25px;
    color: #364152;
    font-weight: 500;
    word-wrap: break-word;
}

.font-color-2 {
    font-size: 30px;
    font-weight: 600;
}

.plat-2-containt p {
    text-align: justify;
    align-items: center;
    color: #697586;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;

}

.platfrom-2 {
    display: flex;
    padding-top: 24px;
    gap: 20px;
}

.platfrom-2-icon-1 {

    background-image: url(Img/icon-plat-2.svg);
    height: 340px;
    width: 411px;
    border-radius: 30px;
}

.platfrom-2-icon-2 {

    background-image: url(Img/icon-plat-3.svg);
    height: 340px;
    width: 411px;
    border-radius: 30px;
}

.platfrom-2-icon-3 {

    background-image: url(Img/icon-plat-4.svg);
    height: 340px;
    width: 411px;
    border-radius: 30px;
}

.platfrom-2 img {
    height: 100%;
    width: 100%;
}

.circle-1 {
    height: 400px;
    width: 400px;
    border: 1.26px solid #FAC515;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-2 {
    height: 340px;
    width: 340px;
    border: 1.26px solid #FAC515;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-3 {
    height: 280px;
    width: 280px;
    border: 1.26px solid #FAC515;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-app-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}

.user-app-containt-left {
    display: flex;
    position: relative;

}

.user-app-1 img {
    height: 578px;
    width: 578px;
}

.user-app-2 {
    position: absolute;
    display: flex;
}

.user-app-2 img {
    height: 395px;
    width: 200px;
    padding-left: 190px;
    padding-top: 90px;
}

.user-app-containt-right {
    padding-top: 10px;
}

.user-app-container-right img {
    height: 40px;
    width: 40px;

    margin: 0;
}

.user-app-containt-right h1 {
    color: #FAC515;
    font-size: 60px;
    font-weight: 700;
    line-height: 66px;
    word-wrap: break-word;
    padding: 0;
    margin-bottom: 0;
}

.user-app-containt-right h2 {
    color: #364152;
    font-size: 60px;
    font-weight: 700;
    line-height: 66px;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
}

.user-app-containt-right p {
    color: #697586;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    word-wrap: break-word;
    padding-top: 25px;
    padding-bottom: 15px;
}

.toreuser-app-store {
    display: flex;
    position: relative;

}

.user-app-store img {
    width: 148px;
    height: 44px;
    cursor: pointer;
    padding-right: 10px;
}

.footer-container {
    color: white;
    background-color: #0D121C;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-logo {
    display: flex;
    gap: 20px;
}

.amr-trip img {
    height: 40px;
    width: 120px;
}

.driver-vai img {
    width: 200px;
}

.footer-container-left {
    padding-top: 25px;
    margin: 0;
}

.footer-container-left a {
    height: 60px;
    width: 1px;
    background-color: #b6b5b1;
    display: block;
}

.footer-container-left p {
    font-size: 16px;
    color: white;
    font-weight: 400;
    word-wrap: break-word;
}

.social-link {
    padding-top: 15px;
    font-size: 30px;
    display: flex;
    gap: 15px;
    cursor: pointer;

}

.social-link i:hover {
    /* border-radius: 100px;
    border: 2px solid yellow; */
    background-color: #ce9f07;
}

.footer-container-midell h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 19px;
    word-wrap: break-word;
}

.medell-containt-1 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

}

.medell-containt-1 h3 {
    color: white;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
    padding-top: 10px;
    margin: 0;
}

.medell-containt-1 i {
    padding-top: 10px;
}

.footer-container-right h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 19px;
    word-wrap: break-word;
}

.footer-right-containt {

    padding-top: 8px;
    margin: 0;
}

.footer-right-containt li {
    list-style: none;
    padding-bottom: 20px;
}

.footer-right-containt li a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    line-height: 19px;
    word-wrap: break-word;
}

.footer-right-containt li a:hover {
    color: #ce9f07;
}

.linebar {
    font-size: 15px;
    font-weight: 300;
    line-height: 40px;
    background-color: #141820;
    color: white;
    text-align: center;
}