* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}


img {
    max-width: 100%;
    width: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}

.nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 50px;
    height: 60px;
    box-shadow: 0.5px 0.5px 2px rgb(197, 197, 197);
}

.nav-section .navbar-right {
    display: flex;
    gap: 30px;
    align-items: center;

}

.nav-section .navbar-right li a {
    color: #364152;
    font-size: 18px;
    font-weight: 500;

}

.nav-section .navbar-right .download-button {
    display: block;
    background-color: #FAC515;
    padding: 5px 15px;
    border-radius: 30px;
}

/* Nav Css End */

.trip-container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(Img/icon-trip.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}

.trip-container-box .trip-container-left h1,
.trip-container-left h2 {
    color: #364152;
    font-size: 80px;
    font-weight: 550;
}

.trip-container-left h2 span.font-color {
    color: #FAC515;
    font-weight: 700;
}

.trip-container-box .trip-container-left p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.trip-container-box .trip-container-right p {
    display: none;
}

/* Trip Container Css End */

.app-advantage-container .app-advantage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 50px 50px 0;
    margin-top: 30px;
}

.app-advantage-container .app-advantage .advantage-left h1 {
    color: #364152;
    font-size: 60px;
    font-weight: 500;
}

.app-advantage-container .app-advantage .advantage-left h1 span.font-color {
    color: #FAC515;
    font-weight: 600;
}

.app-advantage .advantage-left .advantage-list .advantage-item .advantage-item-details {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 16px 0;
}

.advantage-item-details p {
    color: #364152;
    font-size: 25px;
    font-weight: 300;
}

.advantage-left .advantage-button {
    padding-top: 50px;
}

.advantage-left .advantage-button a {
    color: #364152;
    font-size: 18px;
    font-weight: 400;
    padding: 16px 24px;
    background: #FAC515;
    border-radius: 30px;
}

/* Advantage Css End */


.platfrom-container .platfrom-box {
    padding: 50px;
}

.platfrom-container .platfrom-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.platfrom-container .platfrom-1 .left-content h2 {
    font-size: 60px;
    font-weight: 400;
    color: #364152;
}

.platfrom-container .platfrom-1 .left-content h3 {
    font-size: 45px;
    font-weight: 600;
    color: #FAC515;
}

.platfrom-container .platfrom-1 .right-content-box {
    display: flex;
    background-color: #EEF2F6;
    border-radius: 20px;
    gap: 40px;
    padding-top: 40px;
}

.platfrom-container .platfrom-1 .right-content {
    display: flex;
    width: 55%;
}

.platfrom-container .platfrom-1 .right-content-box .content-left {
    padding: 30px 40px 40px;
}

.platfrom-container .platfrom-1 .right-content-box .content-left h4 {
    font-size: 25px;
    font-weight: 500;
    color: #364152;
    display: inline-block;
    gap: 10px;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.platfrom-container .platfrom-1 .right-content-box .content-left h4::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FAC515;
    position: absolute;
    bottom: -12px;
    left: 0;
}

.platfrom-container .platfrom-1 .right-content-box .content-left h4 span.font-color-2 {
    font-size: 30px;
    font-weight: 600;
    color: #697586;
}

.platfrom-container .platfrom-1 .right-content-box .content-left p {
    text-wrap: wrap;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: #364152;
}

.platfrom-container .platfrom-1 .right-content-box .content-img {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.platfrom-container .platfrom-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 0;
}



.platfrom-container .platfrom-2-icon-1 {
    background-image: url(Img/icon-plat-2.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 340px;
    border-radius: 30px;
}

.platfrom-container .platfrom-2-icon-2 {

    background-image: url(Img/icon-plat-3.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 340px;
    border-radius: 30px;
}

.platfrom-container .platfrom-2-icon-3 {

    background-image: url(Img/icon-plat-4.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 340px;
    border-radius: 30px;
}

/* Platfrom Section Css End */


.user-app-container .content-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    padding: 50px;
}

.user-app-container .user-app-containt-left {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.user-app-container .user-app-containt-left .user-app-1,
.user-app-2 {
    width: 100%;
    position: relative;
}



.user-app-container .user-app-containt-left .user-app-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-app-container .user-app-containt-left .user-app-2 img {
    max-width: 100%;
    max-height: 100%;
}


.user-app-containt-right h1 {
    color: #FAC515;
    font-size: 60px;
    font-weight: 700;
    line-height: 66px;
    word-wrap: break-word;
    margin-top: 30px;
}

.user-app-containt-right h2 {
    color: #364152;
    font-size: 60px;
    font-weight: 700;
    line-height: 66px;
    word-wrap: break-word;
    margin-top: 10px;
}

.user-app-containt-right p {
    color: #697586;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    word-wrap: break-word;
    margin: 40px 0;
}

.user-app-store {
    display: flex;
    position: relative;

}

.user-app-store img {
    width: 148px;
    height: 44px;
    cursor: pointer;
    padding-right: 10px;
}

/* User & Driver App Css End */


/*  Footer Section Start */


.footer {
    color: white;
    background-color: #0D121C;
}


.footer-container {
    padding: 0 50px;
}

.footer-container .footer-border {
    display: flex;
    gap: 60px;
    border-bottom: 0.5px solid white;
    box-sizing: content-box;
    padding: 50px 0px;
}

.footer-brand {
    flex: 1 1 200px;
}


.footer-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer-logos-media {
    display: none;
}

.footer-logos .vl {
    width: 1px;
    height: 50px;
    color: white;
    background-color: white;
}

.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-links {
    padding-left: 30px;
}

.footer-links>ul li a {
    text-decoration: underline;
}

.footer-social {
    width: 100%;
    position: relative;
}

.footer-social .social-links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    padding: 0 12px;
    position: relative;
    top: -75px;
}

.footer-social a {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social a.linkedin {
    background-color: white;
}

#bar {
    display: none;
}

.barbtn {
    display: none;
}

/* Responsive: Stack on smaller screens */
@media only screen and (max-width: 768px) {
    .nav-section {
        padding: 15px;
    }

    .nav-section .navbar-right {
        position: fixed;
        right: -100%;
        top: 75px;
        flex-direction: column;
        gap: 15px;
        z-index: 999;
        align-items: start;
        padding: 30px 50px 50px;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 0 0 0 15px;
    }

    .barbtn {
        display: block;
    }

    #bar:checked~.navbar-right {

        right: 0px;
        transition: all .5s;
    }

    .trip-container-box {
        flex-direction: column;
        padding: 15px;
    }

    .trip-container-box .trip-container-left h1,
    .trip-container-left h2 {
        font-size: 35px;
        font-weight: 600;
    }

    .trip-container-box .trip-container-left p {
        display: none;
    }

    .trip-container-box .trip-container-right p {
        display: block;
    }

    .trip-container-right p {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #364152;
    }

    .app-advantage-container .app-advantage {
        display: flex;
        flex-direction: column;
    }

    .app-advantage-container .app-advantage .advantage-left h1 {
        font-size: 30px;
        font-weight: 600;

    }

    .advantage-item-details p {
        font-size: 16px;
        font-weight: 300;
    }

    .advantage-left .advantage-button {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .advantage-left .advantage-button a {
        color: #364152;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 15px;
        background: #FAC515;
        border-radius: 30px;
    }

    .platfrom-container .platfrom-1 {
        flex-direction: column;
    }


    .platfrom-container .platfrom-1 .right-content {
        width: 100%;
    }

    .platfrom-container .platfrom-2 {
        grid-template-columns: auto;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .user-app-container .content-box {
        grid-template-columns: auto;
        padding: 20px 50px;
    }

    .footer-container .footer-border {
        flex-direction: column;
        gap: 25px;
    }

    .platfrom-container .platfrom-1 .right-content-box {
        display: flex;
        flex-direction: column;
    }

    .platfrom-container .platfrom-1 .right-content-box .content-left {
        padding: 10px 10px 0px;
        text-align: center;
    }

    .platfrom-container .platfrom-1 .right-content-box .content-img {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .platfrom-container .platfrom-1 .left-content h2 {
        font-size: 30px;
        font-weight: 600;
    }

    .platfrom-container .platfrom-1 .left-content h3 {
        font-size: 25px;
        font-weight: 600;
    }

    .platfrom-container .platfrom-1 .right-content-box .content-left h4 {
        font-size: 20px;
        font-weight: 500;

    }

    .platfrom-container .platfrom-1 .right-content-box .content-left p {
        font-size: 14px;
        font-weight: 400;
    }

    .platfrom-container .platfrom-2-icon-1 {
        height: 230px;

    }

    .platfrom-container .platfrom-2-icon-2 {
        height: 230px;

    }

    .platfrom-container .platfrom-2-icon-3 {
        height: 230px;

    }

    .content-box .user-app-containt-right {
        order: calc(1);
    }

    .content-box .user-app-containt-left {
        order: calc(2);
    }

    .user-app-containt-right h1 {
        display: flex;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        margin: 0;
        padding: 0;
        margin-top: 15px;
    }

    .user-app-containt-right h2 {
        display: flex;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        margin: 0;
        padding: 0;
    }

    .user-app-containt-right p {
        font-size: 14px;
        font-weight: 300;
        margin: 10px;
        align-items: center;
    }

    .user-app-container .content-box {
        gap: 40px;
    }

    .footer-logos {
        display: none;
    }

    .footer-logos-media {
        display: block;
        text-align: center;
    }

    .footer-container .footer-border {
        padding: 0px;
    }

    .footer-brand p {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding: 0;
        margin: 0;
    }


    .footer-contact {
        justify-items: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .footer-links {
        justify-items: center;
        padding: 0;
        margin: 0;
    }


    .footer-social .social-links {
        align-items: center;
        justify-content: center;
        padding: 0;
        position: relative;
        top: 0px;
    }

    /* Eitar upore media code */
}
